:root{
    --primary-color:#272142;
    --secondary-color:#6C63FF;
    --default-font:"Poppins",
        sans-serif;
    --second-font:"Playfair Display",
            serif;
}



body {
    background: #F9F7FE;
}
.hero{
    padding: 160px 20px;
    text-align: center;
    
}
.hero p{
    
    font-family: var("--default-font");
    font-weight: bold;
    font-size: 36px;
    color: var("--primary-color");
}
 h1 {
    font-family: var("--second-font");
     font-size: 96px;
     line-height: 1.2;
    font-weight:bold;
       
}

h2 {
    font-family:var("--second-font");
    font-size: 24px;
    font-weight: normal;
    color: var("--primary-color");
    line-height: 2;
}
.hero button{
    background: #6C63FF;
    color: #ffffff;
    font-family:var("--default-font");
    font-weight: medium;
     font-size: 18px;
     padding: 18px 30px;
     border: none;
     border-radius: 4px;
}
.hero button:hover{
    cursor: pointer;
    background: var("--primary-color");
    color: black;

}